<html>
<head></head>
<body>
	<h3>Details for user[<%= user.id %>]</h3>
	<p>   appId:<%= user.appId %></p>
	<p>devToken:<%= user.deviceToken %></p>
	<p>userToke:<%= user.userToken %></p>
	<p>emailAdd:<%= user.email %></p>
</body>
</html>